@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Fjalla One", sans-serif;;
    --fonte-texto:"Lora", serif;
    --pretoClaro: #333333ff;
    --cinzaClaro: #d5ccc7ff;
    --cinzaEscuro: #a9a29cff;
    --Preto: #28262bff;
}
body{
    background-color: var(--Preto);
    font-family: var(--fonte-texto);
}
header, footer{
    background-color: white;
    text-align: center;
    padding: 2em;
    color: var(cinzaClaro);
}
header h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
}
.projetos{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartao {
    text-align: center;
    background-color: var(--cinzaClaro);
    width: 100%;
    margin: 1em 0;
    color: var(--pretoClaro);
    padding: 1em 0;
    border-radius: 10px;
}

.cartao:hover{
    background-color: var(--cinzaEscuro);
}


.cartao a {
    text-decoration: none;
    color:chocolate;
}
.ultimo-cartao{
    margin-bottom: 4em;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
 footer a{
    text-decoration: none;
    color: var(--Preto);
 }
 .primcipal-numero{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50vh;
 }
 .numero-imput{
    font-size: 2em;
 }
 .numero-botao{
    margin-left: 1em;
    font-size: 2em;
    padding: 1em;
    background-color: var(--cinzaClaro);
    color: var(--Preto);
    border-radius: 15px;
 }

